@font-face {
  font-family: Silver;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Silver'),
       url('https://quitandquiet.github.io/devamara/etc/Silver.woff') format('woff'),
       url('https://quitandquiet.github.io/devamara/etc/Silver.ttf') format('truetype');
}